<main class="main-content">
    <h1>HomeOffice CheckIn - Übersicht Max Mustermann</h1>
    <div class="summary-container">
        <div (click)="goBack()" class="back-container">
            <img class="back-icon" src="icon/back.png" alt="back">
            <span>Start/Stop</span>
        </div>
        <div class="calendar-container">
            <label for="calendar">Datum wählen:</label>
            <input [(ngModel)]="selectedDate" type="date" name="calendar" id="calendar">
        </div>
        <button (click)="selectDate()" class="btn-style" type="button">OK</button>
        <div class="date-time-container">
            <span>{{ date }}</span>
            @if (!date.startsWith('P')) {
                @for (timestamp of dummyData; track $index) {
                    <div class="timestamp">{{ timestamp.start| date:'HH:mm' }} - {{ timestamp.end| date:'HH:mm' }} Uhr</div>
                }
            }
        </div>
    </div>
</main>
