<main class="main-content">
    <h1>HomeOffice CheckIn - Login</h1>
    <form (ngSubmit)="onSubmit(loginForm)" class="login-form" #loginForm="ngForm">
        <div class="form-content">
            <div class="label-input-container">
                <label for="username">Username:</label>
                <input #username="ngModel" class="login-input" type="text" name="username" id="username" minlength="3" maxlength="30" ngModel required>
            </div>
            <div class="label-input-container m-top-24">
                <label for="password">Password:</label>
                <input #password="ngModel" class="login-input" type="password" name="password" id="password" minlength="6" maxlength="30" ngModel required>
            </div>
            <button class="btn-style m-top-80" type="submit">Login</button>
        </div>
    </form>
</main>
